# Database
DATABASE_URL=postgres://penny_pals:password@localhost:5432/penny_pals_development

# Rails
RAILS_ENV=development
RAILS_MASTER_KEY=

# CORS
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000
