# Database
POSTGRES_USER=collectibles
POSTGRES_PASSWORD=password
POSTGRES_DB=collectibles_vault_development

# Backend
DATABASE_URL=postgres://collectibles:password@db:5432/collectibles_vault_development
RAILS_ENV=development
RAILS_MASTER_KEY=

# Frontend
FRONTEND_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:3000
